nav {
    font-family: monospace;
    font-size: medium;
    background-image: linear-gradient(to right, blue, purple);
    display: flex;
    justify-content: center;
}

.description {
    text-transform: capitalize;
}

